@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Moon+Dance&family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Moon+Dance&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active h1{
    display: block;
}
*{
    font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
@media(max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}